:root {
    --shadow-color: hsl(0, 0%, 55%);
    --primary-color: hsl(0, 0%, 4%);
    --secondary-color: hsl(48, 100%, 67%);
    --price-color: hsl(141, 53%, 53%);

    --header-background: #ccc;
    --header-color: #222;
    --header-font-size: 16px;
    --header-owner-size: 1.2em;
    --header-social-icon-size: 30px;

    --type-title-background: #ccc;
    --type-title-size: 28px;

    --product-card-font-size: 25px;
    --product-card-font-description: 18px;
    --product-counter-color: white;
    --product-counter-bgcolor: hsl(0, 50%, 50%);
    --product-counter-size: 20px;
    --product-counter-font-size: 15px;

    --gocart-select-size: 1.2rem;
    --cart-button-size: 1.5rem;
    --cartpage-font-size: 1.3rem;
    --cartshower-font-size: 1.3rem;
}

#app {
    width: 100vw;
    height: 100vh;
}

.back-btn {
    position: absolute;
    top: 0px;
    left: 0px;
    color: var(--primary-color);
}
