.product-type {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    margin: 10px 0px;
}

.product-type-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-size: var(--type-title-size);
    font-weight: bold;
    padding: 2px 5px;
    text-transform: capitalize;
}

.product-type-title div {
    width: 100%;
    text-align: center;
}

.product-shower {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;
}

.gotocart {
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 100%;
    background-color: var(--header-background);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 0.8em;
    padding: 5px 2px;
}

.gotocart-btn {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    text-decoration: none;
    width: 90%;
}