:root {
  --primary-color: hsl(0, 0%, 4%);
  --secondary-color: hsl(48, 100%, 67%);
  --price-color: hsl(141, 53%, 53%);

  --header-background: #ccc;
  --header-color: #222;
  --header-font-size: 12px;
  --header-owner-size: 1.2em;

  --type-title-background: #ccc;
  --type-title-size: 1.1em;

  --product-card-font-size: 12px;
  --product-counter-color: white;
  --product-counter-bgcolor: hsl(0, 50%, 50%);
  --prodcut-counter-size: 7px;
}

#app {
  width: 100vw;
  height: 100vh;
}

.back-btn {
  position: absolute;
  top: 0px;
  left: 0px;
  color: var(--primary-color);
}
