.header-place {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-bottom: 20px;
  /*background-color: var(--header-background);*/
  background-color: var(--secondary-color);
  color: var(--header-color);
  font-size: var(--header-font-size);
}

.header-logo {
  width: 256px;
  margin: -60px;
}

.header-owner-title {
  font-size: var(--header-owner-size);
  font-weight: bold;
  text-transform: capitalize;
}
