.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  margin-bottom: 50px;
}

.product-type {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  margin: 10px 0px;
}

.product-type-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: var(--type-title-size);
  font-weight: bold;
  padding: 2px 5px;
  text-transform: capitalize;
}

.product-type-title div {
  width: 100%;
  text-align: center;
}

.product-shower {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}

.gotocart {
  position: fixed;
  bottom: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
  background-color: var(--header-background);
  color: var(--primary-color);
  font-weight: bold;
  padding: 5px 2px;
}

.gotocart-btn {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  text-decoration: none;
  width: 90%;
  font-weight: bold;
}

.gotocart-btn__marginy {
  margin-top: 5px;
  margin-bottom: 5px;
}

.gotocart-btn__center {
  justify-content: center;
}

/* CSS for Products Card */
.product-card {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  width: 95vw;
  padding: 5px;
  margin: 10px auto;
  font-size: var(--product-card-font-size);
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 5px 5px 2px var(--primary-color);
}

.product-card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-info--title {
  text-transform: capitalize;
  font-weight: bold;
}

.product-info--desc::first-letter {
  text-transform: uppercase;
}

.product-info-onlyprice {
  flex-grow: 2;
  text-align: left;
  margin-left: 5px;
  margin-right: 5px;
}

.product-size-tag,
.product-presentation-tag,
.product-price-tag {
  text-transform: capitalize;
}

.product-size-tag,
.product-price-tag {
  font-weight: bold;
}

.product-price-tag {
  position: relative;
  color: var(--price-color);
  cursor: pointer;
}

.price-tag-counter {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -5px;
  right: 0;
  width: var(--product-counter-size);
  height: var(--product-counter-size);
  font-size: var(--product-counter-font-size);
  color: var(--product-counter-color);
  background-color: var(--product-counter-bgcolor);
  border-radius: 50%;
  font-weight: lighter;
}

.product-card-sizes,
.product-fullview-sizes,
.product-fullview-prices,
.product-fullview-prices div {
  display: flex;
  justify-content: flex-end;
  min-width: 40%;
  font-size: 0.9em;
}

.product-fullview-prices {
  flex-direction: column;
  justify-content: center;
}

.product-fullview-sizes {
  justify-content: flex-end;
  align-items: flex-end;
}

.product-fullview-sizes .product-size-tag,
.product-fullview-prices div .product-price-tag {
  width: 50%;
  text-align: center;
}

.product-card-sizes div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.product-card-presentations {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.product-card-presentations div {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
}

/* CSS for full price product*/
.product-fullview-info,
.product-fullview-data {
  display: flex;
  justify-content: space-between;
}

.product-fullview-presentations {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
}

/* CSS for Widget Quantity */
.quantity-widget {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px;
  align-self: center;
}

.quantity-widget-title {
  text-transform: uppercase;
  font-size: 12px;
}

.quantity-widget-counter {
  display: flex;
  flex-direction: row;
  max-width: 100px;
}

.quantity-widget-input {
  max-width: 40px;
  align-self: flex-start;
  text-align: center;
}

.quantity-widget-btn-rigth {
  margin-left: -1px;
}
