.cart-shower {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 90%;
    font-size: var(--cartshower-font-size);
}

.cart-title {
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-weight: bold;
    margin-bottom: 10px; 
}

.cart-price-item {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    /* font-weight: bold; */
    /* font-size: 0.8em; */
}

.cart-list-type {
    font-size: 0.7em;
    margin-left: 30px;
}

.cart-subtotal-item,
.cart-total-item {
    border-top: 2px solid #ccc;
    font-weight: bold;
}

.cart-total-item {
    /* border-top: 2px solid #ccc; */
    padding-top: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.form-comment {
    height: 3em;
    resize: none;
    overflow: auto;
}

.cart-btn {
    font-size: var(--cart-button-size);
}

.btn-whatsapp-send {
    width: 100%;
    font-weight: bold;
}
